/app/etc/local.xml

#magento
/var/
/downloader/
/media/catalog/product/cache

#modman links: find * -lname '*.modman/*' -type l -not -exec grep -q "^{}$" .gitignore \; -print >> .gitignore
app/code/local/Lofty/Offer
app/code/local/Lofty/Attributes
app/code/local/Lofty/ActiveMQ
app/code/local/Lofty/CustomerLiveSync
app/code/local/Lofty/Rewrites
app/code/local/Lofty/All
app/code/local/Lofty/KeywordAlert
app/code/local/Lofty/Elasticsearch
app/code/local/VinaiKopp/Api2SessionLogin
app/code/local/Webskills/Stripe
app/code/community/Magneto/Debug
app/code/community/VinaiKopp/Api2SessionAuthAdapter
app/locale/en_US/template/email/offer
app/design/frontend/base/default/layout/lofty_offer.xml
app/design/frontend/base/default/layout/debug.xml
app/design/frontend/base/default/layout/lofty_keywordalert.xml
app/design/frontend/base/default/template/debug
app/design/frontend/base/default/template/lofty_offer
app/design/frontend/base/default/template/lofty_keyword_alert
app/design/adminhtml/base/default/layout/lofty_attributes.xml
app/design/adminhtml/base/default/layout/lofty_offer.xml
app/design/adminhtml/base/default/layout/debug.xml
app/design/adminhtml/base/default/layout/lofty_keywordalert.xml
app/design/adminhtml/base/default/template/debug
app/design/adminhtml/base/default/template/lofty_attributes
app/etc/modules/Lofty_Attributes.xml
app/etc/modules/Lofty_ActiveMQ.xml
app/etc/modules/Lofty_Rewrites.xml
app/etc/modules/Magneto_Debug.xml
app/etc/modules/Webskills_Stripe.xml
app/etc/modules/Lofty_CustomerLiveSync.xml
app/etc/modules/Lofty_KeywordAlert.xml
app/etc/modules/Lofty_Elasticsearch.xml
app/etc/modules/VinaiKopp_Api2SessionLogin.xml
app/etc/modules/VinaiKopp_Api2SessionAuthAdapter.xml
app/etc/modules/Lofty_Offer.xml
app/etc/modules/Lofty_All.xml
shell/export_categories.php
skin/frontend/base/default/debug
