<?xml version="1.0"?>
<config>
    <modules>
        <Tsg_Exports>
            <version>0.0.3</version>
        </Tsg_Exports>
    </modules>
    <global>
        <helpers>
            <tsg_exports>
                <class>Tsg_Exports_Helper</class>
            </tsg_exports>
        </helpers>
        <blocks>
            <tsg_exports>
                <class>Tsg_Exports_Block</class>
            </tsg_exports>
        </blocks>
        <models>
            <tsg_exports>
                <class>Tsg_Exports_Model</class>
                <resourceModel>tsg_exports_resource</resourceModel>
            </tsg_exports>
            <tsg_exports_resource>
                <class>Tsg_Exports_Model_Resource</class>
                <entities>
                    <exports>
                        <table>tsg_exports_exports</table>
                    </exports>
                </entities>
            </tsg_exports_resource>
        </models>
        <resources>
            <tsg_exports_setup>
                <setup>
                    <module>Tsg_Exports</module>
                </setup>
            </tsg_exports_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tsg_Exports before="Mage_Adminhtml">Tsg_Exports_Adminhtml</Tsg_Exports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tsg_exports>
                    <file>tsg_exports.xml</file>
                </tsg_exports>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <tsg_exports>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>tsg_exports/observer::generateAllExports</model></run>
            </tsg_exports>
        </jobs>
    </crontab>
</config>