<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ViewedCommodities>
            <version>0.1.0</version>
        </Potoky_ViewedCommodities>
    </modules>
    <default>
        <catalog>
            <lifetime_vc>
                <viewedcommodities_lifetime>3600</viewedcommodities_lifetime>
                <ajax_async>1</ajax_async>
            </lifetime_vc>
        </catalog>
    </default>
    <global>
        <models>
            <viewedcommodities>
                <class>Potoky_ViewedCommodities_Model</class>
            </viewedcommodities>
            <reports>
                <rewrite>
                    <event_observer>Potoky_ViewedCommodities_Model_Event_Observer</event_observer>
                </rewrite>
            </reports>
        </models>
        <blocks>
            <viewedcommodities>
                <class>Potoky_ViewedCommodities_Block</class>
            </viewedcommodities>
            <reports>
                <rewrite>
                    <product_viewed>Potoky_ViewedCommodities_Block_Product_Viewed</product_viewed>
                </rewrite>
            </reports>
        </blocks>
        <helpers>
            <viewedcommodities>
                <class>Potoky_ViewedCommodities_Helper</class>
            </viewedcommodities>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <potoky_viewedcommodities>
                    <file>viewedcommodities.xml</file>
                </potoky_viewedcommodities>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <potoky_viewedcommodities_model_observer>
                        <class>Potoky_ViewedCommodities_Model_Observer</class>
                        <method>pageWatch</method>
                    </potoky_viewedcommodities_model_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <routers>
            <viewedcommodities>
                <use>standard</use>d
                <args>
                    <module>Potoky_ViewedCommodities</module>
                    <frontName>viewedcommodities</frontName>
                </args>
            </viewedcommodities>
        </routers>
    </frontend>
</config>