<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ViewedProducts>
            <version>0.1.0</version>
        </Potoky_ViewedProducts>
    </modules>
    <default>
        <catalog>
            <js_viewed_products>
                <viewedproducts_lifetime>3600</viewedproducts_lifetime>
                <ajax_async>0</ajax_async>
            </js_viewed_products>
        </catalog>
    </default>
    <global>
        <models>
            <viewedproducts>
                <class>Potoky_ViewedProducts_Model</class>
            </viewedproducts>
            <reports>
                <rewrite>
                    <event_observer>Potoky_ViewedProducts_Model_Event_Observer</event_observer>
                </rewrite>
            </reports>
        </models>
        <blocks>
            <viewedproducts>
                <class>Potoky_ViewedProducts_Block</class>
            </viewedproducts>
            <reports>
                <rewrite>
                    <product_viewed>Potoky_ViewedProducts_Block_Product_Viewed</product_viewed>
                </rewrite>
            </reports>
        </blocks>
        <helpers>
            <viewedproducts>
                <class>Potoky_ViewedProducts_Helper</class>
            </viewedproducts>
        </helpers>
        <events>
            <admin_system_config_changed_section_catalog>
                <observers>
                    <potoky_viewedproducts_model_observer>
                        <class>Potoky_ViewedProducts_Model_Observer</class>
                        <method>systemConfigWatch</method>
                    </potoky_viewedproducts_model_observer>
                </observers>
            </admin_system_config_changed_section_catalog>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <potoky_viewedproducts>
                    <file>viewedproducts.xml</file>
                </potoky_viewedproducts>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <potoky_viewedproducts_model_observer>
                        <class>Potoky_ViewedProducts_Model_Observer</class>
                        <method>pageWatch</method>
                    </potoky_viewedproducts_model_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <routers>
            <viewedproducts>
                <use>standard</use>d
                <args>
                    <module>Potoky_ViewedProducts</module>
                    <frontName>viewedproducts</frontName>
                </args>
            </viewedproducts>
        </routers>
    </frontend>
</config>