<?xml version="1.0"?>
<config>
    <modules>
        <Tsg_News>
            <version>0.0.5</version>
        </Tsg_News>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tsg_News before="Mage_Adminhtml">Tsg_News_Adminhtml</Tsg_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <tsg_news>
                <use>standard</use>
                <args>
                    <module>Tsg_News</module>
                    <frontName>news</frontName>
                </args>
            </tsg_news>
        </routers>
        <layout>
            <updates>
                <tsg_news>
                    <file>tsg_news.xml</file>
                </tsg_news>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <tsg_news>
                <class>Tsg_News_Block</class>
            </tsg_news>
        </blocks>
        <helpers>
            <tsg_news>
                <class>Tsg_News_Helper</class>
            </tsg_news>
        </helpers>
        <models>
            <tsg_news>
                <class>Tsg_News_Model</class>
                <resourceModel>tsg_news_resource</resourceModel>
            </tsg_news>
            <tsg_news_resource>
                <class>Tsg_News_Model_Resource</class>
                <entities>
                    <list>
                        <table>tsg_news_list</table>
                    </list>
                </entities>
            </tsg_news_resource>
            <importexport>
                <rewrite>
                    <export_entity_product>Tsg_News_Model_Export</export_entity_product>
                </rewrite>
            </importexport>
        </models>
        <resources>
            <tsg_news_setup>
                <setup>
                    <module>Tsg_News</module>
                </setup>
            </tsg_news_setup>
            <tsg_news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tsg_news_read>
            <tsg_news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tsg_news_write>

        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <tsg_news>
                    <file>tsg_news.xml</file>
                </tsg_news>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <tsg_news>
                        <class>tsg_news/observer</class>
                        <method>updateNews</method>
                    </tsg_news>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>

</config>